<div id="home">
<h1>ParkNow</h1>


<%= button_to "New Spot", new_parkingspot_path, :id => "open-contacts-dialog-btn",
        :class => "inbox-sf-add-btn tip", :method => :get %>


<%= button_to "Parking Spots", parkingspots_path, :id => "open-contacts-dialog-btn",
            :class => "inbox-sf-add-btn tip", :method => :get %>


<%= button_to "Available Parking Spots", available_path, :id => "open-contacts-dialog-btn",
          :class => "inbox-sf-add-btn tip", :method => :get %>



  </div>
