<h1>Parking Spots</h1>

<% @parkingspots.each do |parkingspot| %>
<%=  "#{parkingspot.street_address}," + " " + "#{parkingspot.city}" %><br />
<% end %>


<%= button_to "Available Spots", available_path, :id => "open-contacts-dialog-btn",
            :class => "inbox-sf-add-btn tip", :method => :get %>


<%= button_to "Occupied Spots", occupied_path, :id => "open-contacts-dialog-btn",
              :class => "inbox-sf-add-btn tip", :method => :get %>
