<div class="header"><h1>Neighborhoods </h1> </div>

<div class="row">
  <% @neighborhoods.each do |neighborhood| %>
  <%= link_to neighborhood.neighborhood, neighborhood_path(neighborhood), class:"extractneighborhood" %><br />
  <% end %>
  </div>


<%= button_to "Home", '/', method:"get" %>
