/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 @import
  */
@import 'bootstrap';

#homepage {
  background-image: url('background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Permanent Marker', cursive;
  color: white;
  font-size: 60px;
  text-shadow: 2px 2px black;
}
h1{
  text-align: center;
}

#error_explanation{
  color: #f00;
  ul {
   list-style: none;
   margin: 0 0 18px 0;
   text-align: center;

  }
}

.form{
  background-image: url('second.jpg');
}

.form-group{
  margin: auto;
  width: 50%;
  padding: 10px;
  border: 2px solid black;

}


input{
  width: 100%;

}
// #display-3{
//   background-image: url('body.jpg');
// }

@media (min-width: 576px) {
  .cards{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 1rem;
    flex-direction: column;
    margin-bottom: 0;

    .card {
      border: 2px solid #e7e7e7;
      border-radius: 4px;
      padding: .5rem;
      background-image: url('body.jpg');
    }
      .card-img-top {
        height: 200px;
      }
    }
  }

@media (min-width: 576px) {
.parking-card{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 1rem;
  flex-direction: column;
  margin-bottom: 0;
  .card-body{
    border: 2px solid #e7e7e7;
    border-radius: 4px;
    padding: .5rem;
    border-color: black;

  }
}

}
