/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 @import
  */
@import 'bootstrap';

#homepage {
  background-image: url('background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Permanent Marker', cursive;
  color: black;
  font-size: 60px;
  font-weight: bold;
  // text-shadow: 2px 2px black;
  border: 2px solid white;
  background-color: white;
  opacity: 0.65;

}
body{
  background-color: #f9f9f8;
}
h1{
  text-align: center;
}
.btn-primary{
  background-color: #3e95c6;
  // width: 50%;
}

.btn-secondary{
  background-color: #91b4c3;
  width: 50%;

}
.btn-success{
  width: 50%;
}
.btn-danger{
  width: 50%;
}

#error_explanation{
  color: #f00;
    ul {
     list-style: none;
     margin: 0 0 18px 0;
     text-align: center;
    }
}

.form{
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.labels{

  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  text-decoration: underline;
}

.form-group{
  margin: auto;
  width: 50%;
  padding: 10px;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #1f202e;

}

input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 25px;
  border: 3px solid #7f7178;

}
// #display-3{
//   background-image: url('body.jpg');
// }

  .cards{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 1rem;
    flex-direction: column;
    margin-bottom: 0;
  }

  .card {
    border: 2px solid #e7e7e7;
    border-radius: 4px;
    background-color:3px solid #91b4c3;
    border: 3px solid #84a87f;
      // padding: .5rem;
  }

  .card-img-top {
    height: 200px;
  }


// .show-cards{
//   display: grid;
//   grid-template-columns: auto auto auto auto;
//   grid-gap: 1rem;
//   flex-direction: column;
//   margin-bottom: 0;
// }
//
// .show-card{
//   border: 2px solid #e7e7e7;
//   border-radius: 4px;
//   border: 3px solid #84a87f;
// }

.card-title{
font-weight: bold;
font-family: 'Oswald', sans-serif;
font-size: 18px;
text-decoration: underline;
}
.card-subtitle{
font-weight: bold;
font-family: 'Oswald', sans-serif;
font-size: 13px;
}




// @media (min-width: 576px) {
// .parking-card{
//   display: grid;
//   grid-template-columns: auto auto auto auto;
//   grid-gap: 1rem;
//   flex-direction: column;
//   margin-bottom: 0;
//   .card-body{
//     border: 2px solid #e7e7e7;
//     border-radius: 4px;
//     padding: .5rem;
//     border-color: black;
//
//   }
// }
//
// }

#show-page{
  text-align: center;
}
.show-content{
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  font-size: 15px;

}
